<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travelfontes</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- Cabeçalho -->
    <header>
        <nav class="navbar">
            <div class="logo">
                <a>Travelfontes</a>
            </div>
            <ul class="menu">
                <li><a href="/">Início</a></li>
                <li><a href="/admin/usuario/lst">Acessar Usuário</a></li>
                <li><a href="/admin/cotacao/lst">Cotações</a></li>
                <li><a href="/admin/aeroporto/lst">Aeroportos</a></li>
                <li><a href="/admin/companhia/lst">Companhias Aéreas</a></li>
            </ul>
        </nav>
    </header>

    <!-- Conteúdo Principal -->
   