<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FutBoard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- Cabeçalho -->
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="/">🏆 FutBoard</a>
            </div>
            <ul class="menu">
                <li><a href="/">Início</a></li>
                <li><a href="/admin/viagem/lst">viagems</a></li>
                <li><a href="/admin/aeroporto/lst">aeroportoes</a></li>
                <li><a href="/admin/viagem/add">Adicionar viagem</a></li>
                <li><a href="/admin/aeroporto/add">Adicionar aeroporto</a></li>
            </ul>
        </nav>
    </header>

    <!-- Conteúdo Principal -->
   