<%-include('cabecalho.ejs') %>


    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
       
        <main>
            <h1>Bem-vindo ao FutBoard</h1>
            <p>Aqui você encontra a plataforma para gerenciar suas estatísticas e escalações.
            </p>
        </main>

       
        <a href="admin/cotacao/lst">Lista de Cotações</a>
    </body>

    </html>