<%-include('cabecalho.ejs') %>


    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
        <title>Travelfontes</title>
    </head>

    <body>
       
        <main>
            <h1>Seja bem vindo ao Travelfontes!</h1>
            <p>Aonde as suas viagens se tornam acessíveis.
            </p>
        </main>

       
        <a href="admin/cotacao/lst">Lista de Cotações</a>
    </body>

    </html>