<%-include('../cabecalho.ejs') %>


<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Usuário</title>
    <link rel="stylesheet" href="/css/style.css">
   
</head>

<body>     
    <div class="form-box">
        <h1>Adicionar usuario</h1>
        <form action="#" method="post">
            <label for="nome">Nome</label>
            <input type="text"  name="nome" id="nome" placeholder="Digite seu nome"><br>

            <label for="email">Email</label>
            <input type="text"  name="email" id="email" placeholder="Digite seu email"><br>

            <label for="cpf">CPF</label>
            <input type="text"  name="cpf" id="cpf" placeholder="Digite seu CPF" ><br>

            <label for="telefone">Celular</label>
            <input type="number" name="telefone" id="telefone" placeholder="Digite o N° do seu celular" ><br>

            <button type="submit" class="btn add">Adicionar</button>

           

            <div class="form-footer">
                <p>Voltar para a <a href="/admin/usuario/lst">Página Inicial</a></p>
            </div>
        </form>
    </div>
</body>

</html>