<%-include('../cabecalho.ejs') %>





    <h1>aeroporto</h1>
    <div class="add-time">

        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Altura</th>
                    <th>Peso</th>
                    <th>Posição
                    </th>

                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>geromel</td>
                    <td>2.00</td>
                    <td>80 kg</td>
                    <td>lateral</td>



                    <td class="options">
                        <a href="/admin/aeroporto/edt">Editar</a>
                        <a href="/admin/aeroporto/lst">Desligar</a>
                    </td>

                </tr>

            </tbody>

        </table>
        <a href="/admin/aeroporto/add"> Adicionar aeroporto</a>

        </body>

        </html>