<%-include('../cabecalho.ejs') %>





    <h1>Usuários</h1>
    <div class="add-time">

        <table>


                    <td class="options">
                        <a href="/admin/usuario/edt">Editar</a>
                        <a href="/admin/usuario/lst">Desligar</a>
                    </td>

                </tr>

            </tbody>

        </table>
        <a href="/admin/usuario/add"> Adicionar Usuário</a>

        </body>

        </html>