
<%-include('../cabecalho.ejs') %>

<!DOCTYPE html>


<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Informações da Cotação</title>
   
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="form-box">
        <h1>Editar Informações da cotação</h1>
        
        <label for="origem">Origem</label>
        <select class="form-select"  id="origem" name="origem required">
            <option value=""disabled selected hidden>Selecione seu local de Origem</option>
          <option value="">a</option>
          <option value="">b</option>
          <option value="">c</option>
        </select>


        <label for="destino">Destino</label>
        <select class="form-select"  id="destino" name="destino required">
            <option value=""disabled selected hidden>Selecione seu local de destino</option>
          <option value="">a</option>
          <option value="">b</option>
          <option value="">c</option>
        </select>
       

        <label for="ida">Data de ida</label>
        <input type="date" id="ida">

        <label for="volta">Data de volta</label>
        <input type="date" id="volta">

      
            <!-- <label for="foto">Foto</label> -->
            <!-- <input type="number" id="novo-peso" ><br> -->

            <button type="submit">Editar</button>
        </form>

        <div class="form-footer">
            <p>Voltar para a <a href="/admin/cotacao/lst">Cotações</a></p>
        </div>
    </div>
</body>

</html>