<%-include('../cabecalho.ejs') %>



 

    <h1>Cotações</h1>
    <div class="add-time">

        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Contato</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>

                <!-- <tr>
                    <td>geromel</td>
                    <td>2.00</td>
                    <td>80 kg</td>
                    <td>lateral</td> -->



                    <td class="options">
                        <a href="/admin/cotacao/edt">Editar</a>
                        <a href="/admin/cotacao/lst">Desligar</a>
                    </td>

                </tr>

            </tbody>

        </table>
        <a href="/admin/cotacao/add"> Iniciar uma nova Cotação</a>

</body>

</html>